* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #992600;
	line-height: 29px;
}

h3 {
	font-size: 20px;
	color: #000099;
	line-height: 23px;
}
h4 {
	font-size: 18px;
	color: #000099;
	line-height: 5px;
	text-align: right;
}

p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 500;
 }

strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 27px;
 }
 
.jumbotron {
    background-color: #ffcd99;
    border-color: #804000;
    border-width: 8 px;
}

.opt_open {
border-radius:5px;
color:#fff;
background-color:#699C64;
margin:6px;
padding:5px;
font-size:8pt;
 }
.opt_edit {
border-radius:5px;
background-color:#C7BD04;
color:#fff;
margin:6px;
padding:5px;
font-size:8pt;
 } 
.opt_delete {
border-radius:5px;
background-color:#FF4545;
color:#fff;
margin:6px;
padding:5px;
font-size:8pt;
 } 
 
 
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 20px;
	margin: 0;
	border-color: #9FB80A;
	border-width: 2px;
	color: #9FB80A;;
}
.btn:hover {
	border-color: #9FB80A;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}

.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.menu {
	height: 150px;
	background-color: #E1E17F;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
}

.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}

.formpadding {
    font-size: 18px;
    margin-right: 40px;
    margin-left: 260px;
    display: inline;
}

.table {
    background-color: #A6E8EB;
}
